<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>전음</title>
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
	<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<style>
	@media (max-width: 1920px) {
		@import url(https://fonts.googleapis.com/css?family=Lato);
	* {
		box-sizing: border-box;
	}

	.toggle {
		margin-top: -25px;
		margin-left: -40px;
		width: 120px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 2px solid gray;
		border-radius: 100px;
		padding: 9px;
		font-size: small;
		height: 35px;
	}
	
	.toggle p {
		color: white;
		display: inline-block;
		margin: 0;
	}
	
	.toggle > div {
		display: inline-block;
		align-items: center;
	}
	#usercount {
		margin-top: -30px;
		display: inline;
		font-size: small;
	}
	
	html {
		height: 100%;
	}
	
	.you {
		text-align: left;
	}
	
	body {
		align-items: center;
		height: 100%;
		overflow: visible;
		background-image: url('https://smproject-background-img.s3.ap-northeast-2.amazonaws.com/background-image.png');
		background-size: cover;
	}
	
	li {
		text-align: right;
		list-style: none;
		font-size: large;
	}
	
	body::-webkit-scrollbar {
		display: none;
		/* Chrome, Safari, Opera*/
	}
	
	.switch {
		width: 60px;
		cursor: pointer;
		z-index: 10;
	}

	.switch input {
		display: none;
	}
	
	.switch input + div{
		position: relative;
	}

	.switch input + div::before,
	.switch input + div::after {
		content: "";
		position: absolute;
		top: 10px;
		width: 24px;
		height: 2px;
		background-color: #505162;
		transform: scaleX(1);
		transition: transform .3s ease;
	}

	.switch input + div::before {
		transform: scaleX(0);
		left: 0;
		transform-origin: 0 50%;
		border-radius: 2px 0 0 2px;
	}

	.switch input + div::after {
		left: 28px;
		transform-origin: 100% 50%;
		border-radius: 0 2px 2px 0;
	}

	.switch input:checked +div::before {
		transform: scaleX(1);
	}

	.switch input:checked + div::after {
		transform: scaleX(0);
	}

	.switch input + div span {
		padding-left: 56px;
		line-height: 24px;
	}	

	.switch input + div span::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		box-shadow: inset 0 0 0 4px #9ea0be;
		transform: translateX(0);
		transition: box-shadow .2s ease, transform .3s ease;
	}

	.switch input:checked + div span::before {
		transform: translateX(28px);
		box-shadow: inset 0 0 0 12px #18b265;
	}

	#container {
		background: #333;
		color: #e8e8e8;
		width: 50%;
		height: 98.2vh;
		min-width: 20rem;
		margin: 1em auto;
		border-radius: 8px;
		padding: 1.5rem;
		font-family: 'Lato', sans-serif;
		box-sizing: border-box;
	}
	#messages{
		padding-right: 40px;
	}
	#chatBox {
		margin-bottom: 10px;
		height: 82vh;
		min-width: 20rem;
		overflow: auto;
		overflow-x: hidden;
		word-break: break-word;
	}
	
	#chatBox::-webkit-scrollbar {
		display: none;
		/* Chrome, Safari, Opera*/
	}
	
	#userNum {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;
	}
	
	#container::-webkit-scrollbar {
		display: none;
		/* Chrome, Safari, Opera*/
	}
	
	.logout {
		float: right;
		margin-top: 0.5vh;
		margin-right: 5vh;
	}
	
	.prompt {
		height: 8.3vh;
		overflow: auto;
		overflow: hidden;
	}

	.myChat {
		width: 90%;
		height: 70%;
		bottom: 0;
		border: none;
		border-right: 0px;
		border-top: 0px;
		border-left: 0px;
		border-bottom: 0px;
		outline: none;
		word-break: break-all;
		z-index: 2;
		margin-top: 10px;
		font-size: 15px;
		background-color: #202020;
		color: white;
		text-decoration-line: none;
		resize: none;
		overflow-y: hidden;
	}
	
	.submitButton {
		text-align: center;
		border: none;
		background-color: #202020;
		width: 3.4rem;
		height: 3.4rem;
		line-height: 3.4rem;
		color: white;
		font-size: 2rem;
		border-radius: 50%;
		float: right;
		margin-right: 1.5%;
		margin-top: 1.1vh;
	}
	.dropbtn {
		font-size: 16px;
		border: none;
		text-align: center;
		color: white;
		margin-top: 2px;
	}
	
	.dropbtn img {
		width: 2.5rem;
		height: 2.5rem;
	}
	
	.uil {
		margin-bottom: 100px;
	}
	
	.dropdown {
		position: relative;
		display: inline-block;
	}
	
	.dropdown-content {
		display: none;
		position: absolute;
		min-width: 200px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;
		border: solid 2px black;
		text-align: center;
		background-color: dimgrey;
		right: 69px;
	}
	
	.dropdown-content a:hover {
		background-color: #333;
	}
	
	.dropdown-content button:hover > a {
		background-color: #333;
	}
	
	.dropdown-content button {
		color: white;
		text-align: center;
		font-size: 16px;
		height: 3rem;
		min-width: 200px;
		background-color: dimgrey;
		border: 0;
	}
	
	.dropdown button:hover {
		background-color: #333;
	}
	
	.dropdown-content p {
		color: white;
		border-bottom: solid 2px gray;
		padding-bottom: 10px;
		padding-top: 10px;
		margin: 0;
	}
	
	.dropdown-content a {
		color: white;
		min-width: 200px;
		font-size: 16px;
		height: 3rem;
		padding-bottom: 10px;
		padding-top: 10px;
		margin: 0;
		display: block;
		text-decoration: none;
		align-items: center;
	}
	
	.dropdown-content button:hover {
		cursor: pointer;
	}
	
	.dropbtn:hover {
		cursor: pointer;
	}
	
	line {
		display: block;
		border: 1px solid gray;
	}
	.MychatLine {
		margin-top: 500px;
		display: block;
		border: 1px solid gray;
	}
	.My{
		margin-top: 0.1vh;
		content:"";
		display:block;
		clear:both;
		max-width: 65%;
		border-radius: 8px;
		background-color: #038C4C;
		padding: 5px 8px;
		float: right;
		font-size: 15px;
	}
	.MyName{
		margin-top: 1.3vh;
		content:"";
		display:block;
		clear:both;
		float: right;
		font-size: 15px;
	}
	.YourName{
		margin-top: 1.3vh;
		content:"";
		display:block;
		clear:both;
		float: left;
		font-size: 15px;
	}
	.you{
		content:"";
		display:block;
		clear:both;
		color: white;
		max-width: 65%;
		border-radius: 8px;
		background-color: #026436;
		padding: 5px 8px;
		float: left;
		font-size: 15px;
	}
	}
	@media (max-width: 1440px) {
	@import url(https://fonts.googleapis.com/css?family=Lato);
	* {
		box-sizing: border-box;
	}
	.toggle {
		margin-top: -25px;
		margin-left: -40px;
		width: 110px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 2px solid gray;
		border-radius: 100px;
		padding: 9px;
		font-size: small;
		height: 35px;
	}
	.toggle p {
		color: white;
		display: inline-block;
		margin: 0;
	}
	.toggle > div {
		display: inline-block;
		align-items: center;
	}
	.switch {
		width: 60px;
		cursor: pointer;
		z-index: 10;
	}

	.switch input {
		display: none;
	}
	
	.switch input + div{
		position: relative;
	}

	.switch input + div::before,
	.switch input + div::after {
		content: "";
		position: absolute;
		top: 10px;
		width: 24px;
		height: 2px;
		background-color: #505162;
		transform: scaleX(1);
		transition: transform .3s ease;
	}

	.switch input + div::before {
		transform: scaleX(0);
		left: 0;
		transform-origin: 0 50%;
		border-radius: 2px 0 0 2px;
	}

	.switch input + div::after {
		left: 28px;
		transform-origin: 100% 50%;
		border-radius: 0 2px 2px 0;
	}

	.switch input:checked +div::before {
		transform: scaleX(1);
	}

	.switch input:checked + div::after {
		transform: scaleX(0);
	}

	.switch input + div span {
		padding-left: 56px;
		line-height: 24px;
	}	

	.switch input + div span::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		box-shadow: inset 0 0 0 4px #9ea0be;
		transform: translateX(0);
		transition: box-shadow .2s ease, transform .3s ease;
	}

	.switch input:checked + div span::before {
		transform: translateX(28px);
		box-shadow: inset 0 0 0 12px #18b265;
	}
	#usercount {
		margin-top: -30px;
		display: inline;
		font-size: small;
	}
	
	.you {
		text-align: left;
	}
	body {
		align-items: center;
		height: 100%;
		overflow: visible;
		background-image: url('https://smproject-background-img.s3.ap-northeast-2.amazonaws.com/background-image.png');
		background-size: cover;
	}
	
	li {
		text-align: right;
		list-style: none;
		font-size: large;
	}
	
	body::-webkit-scrollbar {
		display: none;
		/* Chrome, Safari, Opera*/
	}
	#container {
		background: #333;
		color: #e8e8e8;
		width: 90%;
		height: 98.2vh;
		min-width: 20rem;
		margin: 1em auto;
		border-radius: 8px;
		padding: 1.5rem;
		font-family: 'Lato', sans-serif;
		box-sizing: border-box;
	}
	#messages{
		padding-right: 40px;
	}
	#chatBox {
		margin-bottom: 10px;
		height: 82vh;
		min-width: 20rem;
		overflow: auto;
		overflow-x: hidden;
		word-break: break-word;
	}
	#chatBox::-webkit-scrollbar {
		display: none;
		/* Chrome, Safari, Opera*/
	}
	#userNum {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;
	}
	#container::-webkit-scrollbar {
		display: none;
		/* Chrome, Safari, Opera*/
	}
	.logout {
		float: right;
		margin-top: 0.5vh;
		margin-right: 5vh;
	}
	.prompt {
		height: 8.3vh;
		overflow: auto;
		overflow: hidden;
	}
	.myChat {
		width: 80%;
		height: 70%;
		bottom: 0;
		border: none;
		border-right: 0px;
		border-top: 0px;
		border-left: 0px;
		border-bottom: 0px;
		outline: none;
		word-break: break-all;
		z-index: 2;
		margin-top: 10px;
		font-size: 15px;
		background-color: #202020;
		color: white;
		text-decoration-line: none;
		resize: none;
		overflow-y: hidden;
	}
	.submitButton {
		text-align: center;
		border: none;
		background-color: #202020;
		width: 3.4rem;
		height: 3.4rem;
		line-height: 3.4rem;
		color: white;
		font-size: 2rem;
		border-radius: 50%;
		float: right;
		margin-right: 1.6%;
		margin-top: 1.1vh;
	}
	.dropbtn {
		display: none;
	}
	line {
		display: block;
		border: 1px solid gray;
	}
	.MychatLine {
		margin-top: 500px;
		display: block;
		border: 1px solid gray;
	}
	.My{
		margin-top: 0.1vh;
		content:"";
		display:block;
		clear:both;
		max-width: 65%;
		border-radius: 8px;
		background-color: #038C4C;
		padding: 5px 8px;
		float: right;
		font-size: 15px;
	}
	.MyName{
		margin-top: 1.3vh;
		content:"";
		display:block;
		clear:both;
		float: right;
		font-size: 15px;
	}
	.YourName{
		margin-top: 1.3vh;
		content:"";
		display:block;
		clear:both;
		float: left;
		font-size: 15px;
	}
	.you{
		content:"";
		display:block;
		clear:both;
		color: white;
		max-width: 65%;
		border-radius: 8px;
		background-color: #026436;
		padding: 5px 8px;
		float: left;
		font-size: 15px;
	}
	}
	</style>
</head>

<body>
	<!-- Drop Down Start -->
	<form class="logout" action="http://localhost:3000/logout" method="POST">
		<div class="dropdown">
			<p class="dropbtn" onclick="dropdown()"><img src="https://smproject-background-img.s3.ap-northeast-2.amazonaws.com/icon.ico" alt=""><i class="uil uil-angle-down"></i></p>
			<div class="dropdown-content">
				<p>Signed in as
					<%= name %>
				</p> <a href="">회원정보</a>
				<button type="submit" class=" img-button">로그아웃 </button>
				<a href="">제작자들</a> <a href="">주의사항</a> </div>
		</div>
	</form>
	<!-- Drop Down End -->
	<form id="msgform">
		<div id="container">
			<ul id="userNum" type="none">
				<div class="toggle">
					<label class="switch">
						<input type="checkbox" id="checkbox" class="anony" />
						<div><span></span></div>
					</label>
						<p>익명</p>
				</div>
				<li id="usercount"></li>
			</ul>
			<line></line>
			<div id="chatBox">
				<ul id="messages" type="none">
					<!-- 채팅 내용 나타남 -->
				</ul>
			</div>
			<line id="MychatLine"></line>
			<div class="prompt">
					<textarea id="msginput" autocomplete="off" type="text" class="myChat" required></textarea>
				<button type="submit" class="submitButton" onclick="button_click();"><i class="uil uil-message"> </i></button>
			</div>
		</div>
	</form>
	</div>
	</div>
	</div>
	<script src="/socket.io/socket.io.js"></script>
	<script>
	var on = 1

	function dropdown() {
		//dropdown 리스트

		var content = document.getElementsByClassName('dropdown-content')
		if(on == 1) {
			content[0].style.display = 'block';
			on = 0
		} else {
			content[0].style.display = 'none';
			on = 1
		}
	}
	var first_Name = ["신비한", "이상한", "요상한", "일그러진", "매혹적인", "명섭적인", "오징어같은", "냄새나는", "유명한", "신형만"];
	var Last_Name = ["강아지", "고양이", "코뿔소", "하마", "오징어", "여우", "늑대", "스컹크", "하마", "원숭이"];
    var autoScroll = document.getElementById("chatBox");
	var autoScrol = document.getElementById("chatBox");
	var socket = io();
	var msgform = document.getElementById('msgform');
    var messageMom = document.getElementById("messages")
	// socket.on 함수로 서버에서 전달하는 신호를 수신
	socket.on('usercount', (count) => {
		var userCounter = document.getElementById('usercount');
		userCounter.innerText = "현재 " + count + "명이 서버에 접속해있습니다.";
	});
	// 메시지 수신시 HTML에 메시지 내용 작성
	socket.on('username', (msg) => {
		//상대방 채팅 내용 보내기
        var messageChild = messageMom.childElementCount
		var chk = document.getElementsByClassName('anony');
		var random_Number1 = Math.floor(Math.random() * 10)
		var random_Number2 = Math.floor(Math.random() * 10)
		var messageList = document.getElementById('messages');
		var messageTag = document.createElement("li");
		messageTag.className = 'YourName'
		messageTag.innerText = msg;
		messageList.appendChild(messageTag);
		//li 태그 수 세기
		autoScrol.scrollTop = autoScroll.scrollHeight;
    

		
	});
	
	
	
	socket.on('message', (msg) => {
		//상대방 채팅 내용 보내기
        var messageChild = messageMom.childElementCount
		var chk = document.getElementsByClassName('anony');
		var random_Number1 = Math.floor(Math.random() * 10)
		var random_Number2 = Math.floor(Math.random() * 10)
		var messageList = document.getElementById('messages');
		var messageTag = document.createElement("li");
		messageTag.className = 'you'
		messageTag.innerText = msg;
		messageList.appendChild(messageTag);
		//li 태그 수 세기
		autoScrol.scrollTop = autoScroll.scrollHeight;
        

		//채팅 제거
		var ul = document.getElementById("messages");
		var item = ul.getElementsByTagName('li');
		if(messageChild >= 2000) {
			item[0].remove();
			item[0].remove();
			licount = 1998;
		};
	});
	msgform.onsubmit = (e) => {
		//내 채팅 보내기
		e.preventDefault();
        var messageChild = messageMom.childElementCount
		var random_Number1 = Math.floor(Math.random() * 10)
		var random_Number2 = Math.floor(Math.random() * 10)
		var msginput = document.getElementById('msginput');
		if(msginput.value){
			var messageList = document.getElementById('messages');
		var messageName = document.createElement("li");
		var messageTag = document.createElement("li");
		var chk = document.getElementsByClassName('anony');
		messageTag.className = 'My'
		messageName.className = 'MyName'
		if(chk[0].checked) {
			messageName.innerText = `${first_Name[random_Number1]} ${Last_Name[random_Number2]}`
		} else {
			messageName.innerText = "<%= name %>"
		}
		
		messageList.appendChild(messageName);
		messageTag.innerText = msginput.value;
		messageList.appendChild(messageTag);

		//익명 설정
		if(chk[0].checked) {
			
			socket.emit('username', `${first_Name[random_Number1]} ${Last_Name[random_Number2]}`);

		} else {
			socket.emit('username', "<%= name %>");
		}
		socket.emit('message', msginput.value);
		msginput.value = "";
		autoScrol.scrollTop = autoScroll.scrollHeight;
		

		//채팅 제거
		var ul = document.getElementById("messages");
		var item = ul.getElementsByTagName('li');
		if(messageChild >= 2000) {
			item[0].remove();
			item[0].remove();
			licount = 1998;
		};
		}
		
	};



	$(function() {
    $('#msginput').on('keydown', function(event) {
        if (event.keyCode == 13)
            if (!event.shiftKey){
                event.preventDefault();
                $('.submitButton').submit();
            }
    });
    
    $('.submitButton').on('submit', function() {
        button_click();
    });
    
    function button_click() {

    }
});



	</script>